out
build
third_party/clspv
third_party/clspv-clang
third_party/clspv-llvm
third_party/cppdap
third_party/cpplint
third_party/dxc
third_party/glslang
third_party/googletest
third_party/json
third_party/lodepng
third_party/shaderc
third_party/spirv-headers
third_party/spirv-tools
third_party/swiftshader
third_party/vulkan-headers
third_party/vulkan-loader
third_party/vulkan-validationlayers/
.vs

*.pyc

# Vim swap files
[._]*.s[a-w][a-z]

# C-Lion
.idea
cmake-build-debug
