out
third_party/cpplint
third_party/glslang
third_party/googletest
third_party/shaderc
third_party/spirv-tools
third_party/spirv-headers
.vs

# Vim swap files
[._]*.s[a-w][a-z]

# Android
android_sample/.gradle/
android_sample/app/.externalNativeBuild/
android_sample/app/build/
android_sample/build/
android_sample/local.properties
